<a href="https://colab.research.google.com/github/himanshutisawar13-creator/regression/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s = pd.Series(arr)
print(s)
print(s.loc[:2])
print(s.loc[3:4])
s.loc[2:3]

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64
0    10
1    15
2    18
dtype: int64
3    22
4    55
dtype: int64

2    18
3    22
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array(['a','b','c','d'])
s = pd.Series(arr,index=['first','second','third','fourth'])
#print(s)
#To print only indexes in series
print('\n indexes in Series are:::')
print(s.index)

 indexes in Series are:::
Index(['first', 'second', 'third', 'fourth'], dtype='object')

In [ ]:
import pandas as pd
df =[{'Name':'Sachin','SirName':'Bhardwaj'},
     {'Name':'Vinod','SirName':'Kumar'},{'Name':'Anshu','SirName':'pawar'}]
df1=pd.DataFrame(df)
print(df1)

     Name   SirName
0  Sachin  Bhardwaj
1   Vinod     Kumar
2   Anshu     pawar

In [ ]:
df

[{'Name': 'Sachin', 'SirName': 'Bhardwaj'},
 {'Name': 'Vinod', 'SirName': 'Kumar'},
 {'Name': 'Anshu', 'SirName': 'pawar'}]

In [ ]:
df1

     Name   SirName
0  Sachin  Bhardwaj
1   Vinod     Kumar
2   Anshu     pawar

In [ ]:
for(row_index,row_value) in df1.iterrows():
    print('\n Row index is ::',row_index)
    print(' Row value is ::')
    print(row_value)

 Row index is :: 0
 Row value is ::
Name         Sachin
SirName    Bhardwaj
Name: 0, dtype: object

 Row index is :: 1
 Row value is ::
Name       Vinod
SirName    Kumar
Name: 1, dtype: object

 Row index is :: 2
 Row value is ::
Name       Anshu
SirName    pawar
Name: 2, dtype: object

In [ ]:
import pandas as pd
df =[{'Name':'Sachin','SirName':'Bhardwaj'},
     {'Name':'Vinod','SirName':'Kumar'},{'Name':'Anshu','SirName':'pawar'}]
df1=pd.DataFrame(df)
print(df1)
for(col_name,col_value) in df1.items():
    print('\n')
    print(' Column name is ::',col_name)
    print(' Column value is ::')
    print(col_value)

     Name   SirName
0  Sachin  Bhardwaj
1   Vinod     Kumar
2   Anshu     pawar


 Column name is :: Name
 Column value is ::
0    Sachin
1     Vinod
2     Anshu
Name: Name, dtype: object


 Column name is :: SirName
 Column value is ::
0    Bhardwaj
1       Kumar
2       pawar
Name: SirName, dtype: object

In [ ]:
s=pd.Series([10,15,18,22])
df=pd.DataFrame(s)
df.columns=['List1']
df['List2']=20
df['List3']=df['List1']+df['List2']
print(df)

   List1  List2  List3
0     10     20     30
1     15     20     35
2     18     20     38
3     22     20     42

In [ ]:
s=pd.Series([10,15,18,22])
df=pd.DataFrame(s)
df.columns=['List1']
df['List2']=20
df['List3']=30
df['List4']=40,50,60,70
df['List5']=df['List1']/df['List2']
df['List6']=df['List1']*df['List2']
df['List7']=df['List1']+df['List2']
df['List8']=df['List1']-df['List2']

print(df)

   List1  List2  List3  List4  List5  List6  List7  List8
0     10     20     30     40   0.50    200     30    -10
1     15     20     30     50   0.75    300     35     -5
2     18     20     30     60   0.90    360     38     -2
3     22     20     30     70   1.10    440     42      2

In [ ]:
del df['List3']
print(df)

   List1  List2  List4  List5  List6  List7  List8
0     10     20     40   0.50    200     30    -10
1     15     20     50   0.75    300     35     -5
2     18     20     60   0.90    360     38     -2
3     22     20     70   1.10    440     42      2

In [ ]:
df.pop('List2')
print(df)

   List1  List4  List5  List6  List7  List8
0     10     40   0.50    200     30    -10
1     15     50   0.75    300     35     -5
2     18     60   0.90    360     38     -2
3     22     70   1.10    440     42      2